<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <header>
        <h1>Contact Me</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/projects">Projects</a> |
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <section>
        <h2>Get in Touch</h2>
        <p>Email: praveenreddyg5612@gmail.com </p>
        <p>GitHub: <a href="https://github.com/Praveen5612">github</a></p>
        <p>LinkedIn: <a href="www.linkedin.com/in/praveen-reddy-gollapalli-6372a8299">linkedin</a></p>
    </section>
</body>
</html>